/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid teal;
    padding: 10px 0;
}

.logo img {
    max-height: 50px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: center;
}

.login-button {
    background-color: teal;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #008080; /* Darker shade of teal */
}

.content {
    padding: 20px 0;
}
