
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 700vh;
    background: #f2f2f2;

}
.NameP{
    font-size: xxx-large;
    padding: 1vh;
}

.NameD {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure it stays on top */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the body takes the full viewport height */
}

.tabSelected{
    font-size: 1.4rem;
    border-bottom: 1px solid #ccc;
}

.navigation {
    list-style: none;
    position: fixed;
    left: 0;
    top: 50vh;
    z-index: 10;
    transform: translateY(-50%);
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.navigation.visible {
    opacity: 1;
    visibility: visible;
}

.navigation li {
    cursor: pointer;
    padding: 10px;
    transition: 0.1s;
    /*background-color: #f0f0f0;*/
}

.mobileDisclaimer{
    position: absolute;
    top: -3vh;
    font-size: large;
    border-bottom: 2px solid #00aaff;
    padding: 5px;
}

.resume{
    overflow: hidden;
    background: #00aaff;
}

.slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    position: sticky;
}
#slide1{
    top: 0;
}

#slide2 {
    margin-top: 10vh;
    top: 0;
}

#slide3 {
    margin-top: 130vh;
    background-color: #e0e0e0; /* Slightly darker */
    top: 0;
}

#slide4 {
    margin-top: 130vh;
    background-color: #cfcfcf; /* Darker */
    top: 0;
}

#slide5 {
    margin-top: 130vh;
    background-color: #bfbfbf; /* Even darker */
    top: 0;
}

#slide6 {
    margin-top: 130vh;
    background-color: #cfcfcf; /* Darker still */
    top: 0;
}

#slide7 {
    margin-top: 130vh;
    background-color: #e0e0e0; /* Darkest */
    top: 0;
}


.slide-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

.slide-content h2 {
    margin-bottom: 10px;
    font-size: 3em;
}

.slide-content h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.slide-content p,
.slide-content ul {
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.5em;
}

.slide-content a {
    color: #007acc;
    text-decoration: none;
}

.slide-content ul {
    list-style-type: disc;
    padding-left: 20px;
}





