

.NameP{
    font-size: xxx-large;
    padding: 1vh;
}

.NameD {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure it stays on top */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the body takes the full viewport height */
    transition: height 0.2s ease-out; /* Smooth transition for shrinking */
}

.spacer {
    height: 80vh;
}


.navigation {
    list-style: none;
    position: fixed;
    top: 50vh;
    z-index: 10;
    transform: translateY(-50%);
}

.navigation li {
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.navigation li.active {
    background-color: #e0e0e0;
}

.resume{
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.slide {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 300vh;
}
.slide:nth-child(1) {
    top: 100vh; /* Position the first slide at the top */
}
.slide:nth-child(2) {
    top: 200vh; /* Position the first slide at the top */
}
.slide:nth-child(3) {
    top: 300vh; /* Position the first slide at the top */
}



/* Add more specific styles for each slide if needed */
#slide1 {
    background-color: #f0f0f0; /* Example background color */
}

#slide2 {
    background-color: #e0e0e0;
}

#slide3 {
    background-color: #d0d0d0;
}

/* Add styles for headings and paragraphs within slides */
.slide h2 {
    font-size: 2em; /* Example font size */
}

.slide p {
    font-size: 1em;
    margin-top: 0;
    width: 60%; /* Control the text width */
    margin-left: auto;
    margin-right: auto;
}


