div.gameDiv{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    aspect-ratio : 1 / 1;
    width:50%;
    border:1px solid blue;
}

div.gridTile{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 15vw;
}

div.winningTiles{
    color: red;
}